<h1><%=t("new_store_credit")%></h1>

<%= render 'spree/shared/error_messages', :target => @store_credit %>

<% if params[:user_id] %>
  <%= form_for(:store_credit, :url => admin_user_store_credits_url(params[:user_id])) do |f| %>
    <%= f.hidden_field :user_id, :value => params[:user_id] %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <%= render :partial => "spree/admin/shared/new_resource_links" %>
  <% end %>
<% else %>
  <%= form_for(:store_credit, :url => admin_store_credits_url) do |f| %>
    <div class="field" id="emails_field">
      <label for="emails">Email Addresses <small>(one per line)</small></label>
      <br>
      <textarea id="emails" name="emails" rows="10" cols="80"></textarea>
    </div>
    <%= render :partial => "form", :locals => { :f => f } %>
    <%= render :partial => "spree/admin/shared/new_resource_links" %>
  <% end %>
<% end %>
